aws_region         = "ap-northeast-1"
github_owner       = "cns-taniyama"
github_repository  = "taniawsdeploy"
github_branch      = "main"
iam_role_name      = "gha-taniawsdeploy-deploy"

# If your AWS account already has this provider, set create=false and specify ARN.
create_github_oidc_provider      = true
existing_github_oidc_provider_arn = null

# Full access. Set false to avoid AdministratorAccess.
attach_administrator_access = true

# Example: add extra policies if needed.
additional_policy_arns = []

# EC2 web server settings
ec2_instance_type = "t3.micro"
ec2_name          = "taniawsdeploy-web"
ec2_key_name      = null
http_ingress_cidrs = [
  "0.0.0.0/0"
]

# Optional. null means Terraform auto-generates a unique bucket name.
artifact_bucket_name         = null
artifact_bucket_force_destroy = false
